/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

@import 'variables.less';
@import 'reset.less';
@import 'fonts.less';
@import 'mixins.less';

@import 'header.less';
@import 'section-one.less';
@import 'section-two.less';
@import 'section-tree.less';
@import 'section-four.less';
@import 'footer.less';





h1 {
    font-size: @h1;
    text-shadow: @shadow;
}

h2 {
    font-size: @h2;
    text-shadow: @shadow;
}

h3 {
    font-size: @h3;
    text-shadow: @shadow;
}

span {
    font-weight: bold;
    text-shadow: @shadow;
}

p {
    font-weight: 600;
    text-shadow: @shadow;
}

a {
    text-shadow: @shadow;
}






.main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

.section-two,
.section-four,
.section-five,
.section-six {
    background-color: #F6F6F6;
}

.img-sh {
    box-shadow: @box-shadow;
}