.flex-row-mixin() {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.top-wrapper() {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 50px;
	height: 50px;
	right: 90px;
	bottom: 40px;
}

.button-poiner() {
	font-size: 28px;
	height: 200px;
	border: 0px solid #070707;
	background-color: rgba(255, 255, 255, 0.1);

	&:hover {
		cursor: pointer;
		border: 1px solid rgba(255, 255, 255, 0.1);
		color: white;
		background-color: rgba(255, 255, 255, 0.2);
		transition: all 0.2s;
	}
}