.sec-one {
	.flex-row-mixin;
	align-items: flex-end;

	padding-top: 40px;
}
.sec-one-b-3 {
	padding-top: 60px;
	transform: rotate(-90deg);
}
.denis-novik-img {
	margin-top: 30px;
	margin-bottom: 104px;
}